configuration {
	display-drun: "Applications:";
	display-window: "Windows:";
	drun-display-format: "{icon} {name}";
	show-icons: true;
	icon-theme: "Papirus";
	modi: "window,drun,run";
}

@theme "/home/noel/.config/rofi/theme.rasi"
